@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 100%;
}
.leaflet-pane {
  z-index: 5 !important;
}

.leaflet-control, .leaflet-top, .leaflet-bottom {
  z-index: 10 !important;
}
